
<div class="letter-box">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end %>
</div>

<div class="form-box">
  <form action="/score" class="letter-form form-inline">
    <p>What is the longest word you can find?</p>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="word" class="form-control">
      <input type="submit" class="form-control btn btn-primary">
      <input type="hidden" name="letters" class="form-control" value="<%= @letters.join %>">
  </form>
</div>
